@charset "UTF-8";
/* CSS Document */

#bosy {
	width:1000px;
	margin:0 auto;
	}
#imgbg {
	margin:0 auto;
	width:1000px;
	height:200px;
	background:url("headerBgimg.jpg") no-repeat;
	background-size:100% 100%;
	min-height:200px;
	}

#chengxuyuan {
	margin-top:120px;
	margin-left:-80px;
	float:left;
	width:80px;
	}
#icon {
	float:left;
	margin-left:40px;
	margin-top:40px;
	width:80px;
	width:80px;
	}
	#titleH {
	margin-top:0px;
	margin-left:120px;
	width:760px;
	height:120px;
	line-height:120px;
	color:red;
	}
#content {width:980px; height:550px; background:white; margin:10px auto; padding:10px}
#titleul {width:960px; height:40px; background:#ccc; padding:0; margin-top:0}
#titleul li {float:left; width:176px; height:40px;line-height:40px}

#footer {width:900px; height:30px; margin:10px auto; text-align:center; text-color:red}
#footer small {color:red}